@{
    ViewData["Title"] = "Home Page";
}

@model CKModel

<form asp-controller="home" asp-action="result" method="post">
    <textarea id="Description" asp-for="Body" class="ckeditor" rows="200"></textarea>
    <button type="submit" style="margin-top: 3rem; border: 1px solid blue; border-radius: 0.5rem; width: 8rem; height: 3rem;">Save</button>
</form>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description');
    });
</script>