@{
    ViewData["Title"] = "Result Page";
}
@model CKModel

<h2 style="text-align: center">CKEditor Result</h2>

<div style="margin: 1rem 5rem; padding: 2rem; border: 2px solid teal; border-radius: 0.5rem;">
    @Html.Raw(Model.Body)
</div>